.project
.metadata
bin/**/*
lib/**/*
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath
target/
test-output/
hivemind-deploy/
*~

# Locally stored "Eclipse launch configurations"
*.launch

